<div class = "container">
  <h1>Admin</h1>
  <pre>{{users}}</pre>
  <!-- change this to a table -->
  <button>Create New User</button>
  <div ng-if="!users">
    <h1>No Users Found</h1>
  </div>
  
  <table ng-if="users">
    <tr>
      <th>Username</th>
      <th>Action</th>
    </tr>
    <tr ng-repeat="user in users">
      <td><a href="#">{{ user.username }}</a></td>
      <td>
        <button 
          class="btn btn-danger"
          ng-click="delete()">
          Delete
        </button>
      </td>  
      <td>
        <button class="btn">
          Edit
        </button>
      </td>
    </tr>
  </table>
  
</div>